.game-bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to right, #f9d423, #e2a139);
}
.game-app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 14px;
  padding: 24px;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .game-app-container {
    max-width: 500px;
    padding: 50px;
  }
}
.main-heading {
  color: #a35200;
  font-size: 26px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .main-heading {
    font-size: 42px;
    margin-bottom: 16px;
  }
}
.description {
  color: #334155;
  font-weight: bold;
  font-weight: 19px;
  font-weight: 500;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .description {
    font-size: 24px;
    margin-top: 16px;
  }
}
.coin-image {
  width: 140px;
  height: 140px;
  margin-bottom: 27px;
}
@media screen and (min-width: 768px) {
  .coin-image {
    width: 240px;
    height: 240px;
    margin-bottom: 50px;
  }
}
.coin-button {
  background-color: #ffda6f;
  outline: none;
  border: none;
  padding: 7px 14px;
  font-weight: bold;
  font-size: 10px;
  font-family: 'Roboto';
  border-radius: 4px;
  color: #a35200;
  cursor: pointer;
  margin-bottom: 9px;
}
.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .counter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.count {
  margin-right: 24px;
  font-size: 13px;
  font-weight: bold;
  color: #475569;
  font-family: 'Roboto';
}
